﻿
@{
    ViewBag.Title = "Our Mission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="top-title-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="page-info">
                    <p class="h1-page-title">Kanzi Theme Blog post Number one</p>
                    <p class="h2-page-desc">
                        Single Post Page
                    </p>
                    <!-- BreadCrumb -->
                    <div class="breadcrumb-container">
                        <ol class="breadcrumbs">
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li class="active">Our Mission</li>
                        </ol>
                    </div>
                    <!-- BreadCrumb -->
                </div>
            </div>
        </div>
    </div>
</div>

