﻿@using Microsoft.AspNet.Identity;

<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button">☰</button>

    <a class="navbar-brand" href="/Admin"></a>

    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button">☰</button>
    <ul class="nav navbar-nav d-md-down-none mr-auto">
        <li class="nav-item px-3">
            <a class="nav-link" href="/Admin">Dashboard</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="/Admin/Account">Người dùng</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" target="_blank" href="/">Trang chủ</a>
        </li>
    </ul>
    <ul class="nav navbar-nav ml-auto" style="margin-right:30px">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="d-md-down-none">@User.Identity.GetUserName()</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                @if (Request.IsAuthenticated)
                {
                    <form action="/Account/LogOff" method="post" id="logoutForm">
                        @Html.AntiForgeryToken()
                        <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Đăng xuất</a>
                    </form>
                }
            </div>
        </li>
    </ul>
</header>
