﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ULI Admin</title>

    <!-- Icons -->
    <link href="~/Areas/Admin/Assets/vendors/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Areas/Admin/Assets/vendors/css/simple-line-icons.min.css" rel="stylesheet">
    <!-- Main styles for this application -->
    <link href="~/Areas/Admin/Assets/css/style.css" rel="stylesheet">
    <!-- Styles required by this views -->
    <link href="~/Areas/Admin/Assets/vendors/css/daterangepicker.min.css" rel="stylesheet">
    @*<link href="~/Areas/Admin/Assets/vendors/css/gauge.min.css" rel="stylesheet">
    <link href="~/Areas/Admin/Assets/vendors/css/toastr.min.css" rel="stylesheet">*@

    @RenderSection("styles", required: false)
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
    @{ Html.RenderAction("_Header", "PartialView", null);}

    <div class="app-body">
        @{ Html.RenderAction("_Sidebar", "PartialView", null);}
        <!-- Main content -->
        <main class="main">
           @RenderBody()
        </main>
     
        @*@{ Html.RenderAction("_AsideMenu", "PartialView", null);}*@
    </div>

    <footer class="app-footer">
        <span>© 2017 <a href="/">ULI</a></span>
        <span class="ml-auto">Edit by <a href="https://hcmuteteam.com/chuongnh" target="_blank">HCMUTE TEAM</a></span>
    </footer>
    <!-- Bootstrap and necessary plugins -->
    <script src="~/Areas/Admin/Assets/vendors/js/jquery.min.js"></script>
    <script src="~/Areas/Admin/Assets/vendors/js/popper.min.js"></script>
    <script src="~/Areas/Admin/Assets/vendors/js/bootstrap.min.js"></script>
    <script src="~/Areas/Admin/Assets/vendors/js/pace.min.js"></script>
    <!-- Plugins and scripts required by all views -->
    <script src="~/Areas/Admin/Assets/vendors/js/Chart.min.js"></script>
    <!-- Alba main scripts -->
    <script src="~/Areas/Admin/Assets/js/app.js"></script>
    <!-- Plugins and scripts required by this views -->
    @*<script src="~/Areas/Admin/Assets/vendors/js/toastr.min.js"></script>
    <script src="~/Areas/Admin/Assets/vendors/js/gauge.min.js"></script>*@
    <script src="~/Areas/Admin/Assets/vendors/js/moment.min.js"></script>
    <script src="~/Areas/Admin/Assets/vendors/js/daterangepicker.min.js"></script>
    <!-- Custom scripts required by this view -->
    <script src="~/Areas/Admin/Assets/js/views/main.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
