﻿<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-title">
                Dashboard
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Admin"><i class="icon-speedometer"></i> Dashboard</a>
            </li>
            <li class="divider"></li>
            <li class="nav-title">
                Quản lý
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Admin/Account"><i class="icon-people"></i> Quản lý tài khoản</a>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-book-open"></i> Quản lý Tin tức</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/News"><i class="icon-list"></i> Danh sách</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/News/Create"><i class="icon-note"></i> Tạo mới</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-picture"></i> Quản lý Slider</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Slider"><i class="icon-list"></i> Danh sách</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Slider/Create"><i class="icon-note"></i> Tạo mới</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-calculator"></i> Quản lý Khóa học</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Course"><i class="icon-list"></i> Danh sách</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Course/Create"><i class="icon-note"></i> Tạo mới</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-calendar"></i> Lịch khai giảng</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/UpCommingClasses"><i class="icon-list"></i> Danh sách</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/UpCommingClasses/Create"><i class="icon icon-note"></i> Tạo mới</a>
                    </li>
                </ul>
            </li>
            <li class="divider"></li>
            <li class="nav-title">
                Thống kê
            </li>
            @for (int i = 0; i < 2; i++)
            {
                <li class="nav-item nav-dropdown">
                    <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-list"></i> Primary menu @(i + 1)</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="icon-list"></i> Sub menu 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="icon-list"></i> Sub menu 2</a>
                        </li>
                    </ul>
                </li>
            }

            <li class="divider"></li>
            <li class="nav-title">
                Liên hệ
            </li>
            <li class="nav-item px-3 hidden-cn">
                <div class="text-uppercase mb-1">
                    <small><b>HCMUTE TEAM</b></small>
                </div>
                <small class="text-muted">Email: hcmuteteam@gmail.com</small>
                <small class="text-muted">Hotline: 01647 931 390</small>
            </li>
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>
