﻿
@{
    ViewBag.Title = "ULI Member";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="top-title-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="page-info">
                    <h1 class="h1-page-title">Thành viên ULI</h1>
                    <h2 class="h2-page-desc">
                        Tầm nhìn, sứ mạng và mục tiêu của ULI
                    </h2>
                    <!-- BreadCrumb -->
                    <div class="breadcrumb-container">
                        <ol class="breadcrumbs">
                            <li>
                                <a href="/">Trang chủ</a>
                            </li>
                            <li class="active">Thành viên ULI</li>
                        </ol>
                    </div>
                    <!-- BreadCrumb -->
                </div>
            </div>
        </div>
    </div>
</div>

 <!--.top wrapper end -->
<div class="loading-container">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<div class="content-wrapper hide-until-loading">
    <div class="body-wrapper">
        <div class="container">
            <div class="space-sep20"></div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="title-block clearfix">
                        <h3 class="h3-body-title">Tầm nhìn, sứ mạng và mục tiêu của ULI</h3>
                        <div class="title-seperator"></div>
                    </div>
                    <p>
                        ULI được thành lập với với sứ mạng tiếp sức cho thế hệ trẻ Việt Nam trên con đường tiến ra thế giới bằng hai công cụ toàn cầu, tiếng Anh và Khoa học máy tính. Với kiến thức Khoa học máy tính và tiếng Anh, các bạn trẻ sẽ tự tin và có đủ cơ hội để phát triển nghề nghiệp trong thời đại công nghệ 4.0 và toàn cầu hóa.
                    </p>
                    <p>
                        Mục tiêu của ULI là cung cấp chương trình và đội ngũ giảng dạy tiếng Anh chất lượng cao để đảm bảo học viên có thể giao tiếp tiếng Anh trôi chảy, chính xác và hiệu quả nhất. Thêm vào đó, với tư cách là cầu nối chặt chẽ với các gia sư hàng dầu đang giảng dạy tại các trường nổi tiếng tại mỹ, chúng tôi sẽ giúp các bạn thực hiện hóa ước mơ du học tại Mỹ một cách dễ dàng và vũng chắc nhất.
                    </p>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="cycle-slideshow frame1" data-cycle-slides="> .slider-img" data-cycle-swipe="true" data-cycle-prev=".cycle-prev"
                         data-cycle-next=".cycle-next" data-cycle-overlay-fx-out="slideUp" data-cycle-overlay-fx-in="slideDown"
                         data-cycle-timeout=0>
                        <div class="fa fa-chevron-right cycle-next"></div>
                        <div class="fa fa-chevron-left cycle-prev"></div>
                        <div class="cycle-pager"></div>
                        <!-- slider item -->
                        <div class="slider-img">
                            <img src="~/Assets/media/about-us2.jpg" alt="about-us2.jpg" />
                        </div>
                        <!-- //slider item// -->
                        <!-- slider item -->
                        <div class="slider-img">
                            <img src="~/Assets/media/about-us1.jpg" alt="about-us1.jpg" />
                        </div>
                        <!-- //slider item// -->
                    </div>

                </div>
            </div>
            <div class="space-sep40"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="title-block clearfix">
                        <h3 class="h3-body-title">Thành viên ULI</h3>
                        <div class="title-seperator"></div>
                    </div>
                    <div class="row">
                       @for (int i = 0; i < 4; i++)
                       {
                        <div class="col-md-3 col-sm-3">
                            <div class="team-member">
                                <div class="team-member-image img-overlay">
                                    <img src="~/Assets/media/team1.jpg" alt="John Doe" />
                                    <div class="item-img-overlay">
                                        <div class="social-icons item_img_overlay_content">
                                            <a href="#" title="digg" target="_blank" class="social-media-icon digg-icon">digg</a>
                                            <a href="#" title="forrst" target="_blank" class="social-media-icon forrst-icon">forrst</a>
                                            <a href="#" title="twitter" target="_blank" class="social-media-icon twitter-icon">twitter</a>

                                        </div>
                                    </div>
                                </div>
                                <div class="team-member-content">
                                    <h3 class="team-member-name h3-body-title">
                                        Nguyễn văn A
                                    </h3>
                                    <div class="team-member-position">
                                        Android/ .Net
                                    </div>
                                    <div class="team-member-short-bio">
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                       }
                    </div>
                    <p>
                        <b>Tiến sĩ Nguyễn An Tế</b>: có nhiều năm kinh nghiệm giảng dạy về Cơ sở dữ liệu và Quản lý hệ thống tại các trường đại học danh tiếng tại Việt Nam, như trường Đại học Kinh tế Tp.HCM, Đại học Công nghệ Sài Gòn. Thầy hiện là Trưởng bộ môn Hệ thống thông tin tại trường Đại học Kinh tế TP.HCM
                        <br /><a href="http://bit.ueh.edu.vn/tena/">http://bit.ueh.edu.vn/tena/</a>
                    </p>
                    <p>
                        <b>Tiến sĩ Ngô Quốc Việt</b>: làm việc trong ngành xử lý hình ảnh và trí  thông minh nhân tạo.Thầy đang làm việc trong nhiều dự án của chính phủ Việt Nam và đối tác nước ngoài trong lĩnh vực trên.  Dự án DolGIS/DOlVector hay FabSolve của thầy đã được sử dụng ở nhiều quốc gia Âu - Mỹ. Tuy nhiên, giảng dạy vẫn là niềm đam mê lớn nhất.  “Việc dạy học và hướng dẫn cho sinh viên phát triển cao hơn là một việc làm hết sức ý nghĩa.”  Thầy hiện là trưởng khoa CNTT tại trường Đại học Sư phạm.
                        Hiện tại thầy và các đồng nghiệm đang thực hiện một  dự án về thực tế ảo tăng cường (AR). Đây là một  mảng thú vị vì nó kết hợp giữa thực tế và thế giới ảo để mang đến những trải nghiệm tuyệt vời cho người dùng.
                       <br /><a href="https://sites.google.com/site/ngoquviet/">https://sites.google.com/site/ngoquviet/</a>

                    </p>
                    <p>
                        <b>PGS.TS Trần Đan Thư</b> hiện là Trưởng Khoa Công nghệ Thông tin, Trường Đại học Khoa học Tự nhiên, ĐHQG Tp.HCM. Thầy giảng dạy về Phân tích độ phức tạp thuật toán và có các công trình nghiên cứu được xuất bản trên các tạp chí trong và ngoài nước.
                        <a href="http://nmcntt2d.16mb.com/pgs-ts-tran-dan-thu/">http://nmcntt2d.16mb.com/pgs-ts-tran-dan-thu/</a>
                    </p>
                    <p>
                        <b>PGS.TS Nguyễn Đình Thúc</b>:  hiện là Phó Trưởng Khoa Công nghệ Thông tin, Trưởng Bộ Môn Công nghệ Tri Thức, Đại học Khoa học Tự Nhiên Tp.HCM. Thầy có nhiều năm kinh nghiệm làm việc và giảng dạy trong ngành CNTT, đặc biệt trong lĩnh vực Bảo mật thông tin (cryptography). Hiện thầy là cố vấn chuyên môn cho chương trình đào tạo Khoa học máy tính tại ULI.
                        <a href="http://nmcntt2d.16mb.com/pgs-ts-nguyen-dinh-thuc/">http://nmcntt2d.16mb.com/pgs-ts-nguyen-dinh-thuc/</a>

                    </p>
                    <p>
                        <b>William H. Nguyễn: Dr. William</b> là người sáng lập của ULI. Ông tốt nghiệp cử nhân tại University of California-Davis với bằng danh dự tối cao (highest honors). Dr. William nghiên cứu và giảng dạy hậu Tiến sĩ dưới sự bảo trợ của Alfred P. Sloan Foundation tại Đại học Y Khoa Harvard. Trước Harvard, Dr. William là Fellow của viện nghiên cứu quốc gia Hoa Kỳ Lawrence Livermore National Laboratory.
                    </p>
                    <p>
                        <b>Hiroshi Yamamura: Ông Hiroshi Yamamura</b> là cố vấn cao cấp của ULI. Ông là một trong những thành viên sáng lập của Gartner Nhật Bản và giữ vai trò Giám đốc Kinh doanh. Sau đó ông gia nhập ITR Corporation, công ty nghiên cứu CNTT đầu tiên của Nhật Bản, giữ chức Phó chủ tịch điều hành và là thành viên trong Hội đồng quản trị.
                    </p>
                    <p>
                        <b>Bùi Lễ: Ông Bùi Lễ</b> là cố vấn cao cấp của ULI. Ông là một doanh nhân thành đạt và Giám đốc điều hành với hơn 25 năm kinh nghiệm trong việc sáng lập và quản lý các công ty start-up công nghệ có mức tăng trưởng nhanh và đã IPO tại Mỹ, châu Âu và châu Á. Ông Bùi Lễ là cựu sinh viên của trường đại học Cornell và Stanford.
                    </p>
                    <p>
                        <b>Rao Vemuri, Ph.D.: Dr. Rao Vemuri</b> hiện là giáo sư giảng dạy môn Big Data/Machine Learning tại ULI. Dr. Vemuri là giáo sư khoa học máy tính của trường Đại học California-Davis hơn 25 năm, và cũng là nhà nghiên cứu khoa học máy tính của Viện nghiên cứu quốc gia Hoa Kỳ Lawrence Livermore. Lĩnh vực chuyên môn của giáo sư là thống kê, tính toán quy mô lớn và trí tuệ nhân tạo.
                        <a href="http://www.cs.ucdavis.edu/~vemuri">http://www.cs.ucdavis.edu/~vemuri</a>
                    </p>
                    <p>
                        <b>Thái Nguyễn:Tiến sĩ Thái Nguyễn</b> là cố vấn cao cấp của ULI. Ông là cựu giáo sư trường Y khoa, Đại học California-San Francisco. Hiện tại, ông là trưởng ban cố vấn khoa học của trường Đại học Y Dược TP.HCM. Tiến sĩ Thái đã và đang đóng góp rất nhiều cho việc xây dựng công nghệ sinh học và y học ở Việt Nam từ năm 1994.
                    </p>
                </div>
            </div>
        </div>

    </div>
    <div class="section-content bottom-body clients-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <ul class="bottom-body-clients">
                        <li class="animated" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.2s"><img src="~/Assets/media/clients/harvard.jpg" alt="Logo" class="img-responsive client-image" /></li>
                        <li class="animated" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.3s"><img src="~/Assets/media/clients/harvard.jpg" alt="Logo" class="img-responsive client-image" /></li>
                        <li class="animated" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.4s"><img src="~/Assets/media/clients/harvard.jpg" alt="Logo" class="img-responsive client-image" /></li>
                        <li class="animated" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.5s"><img src="~/Assets/media/clients/harvard.jpg" alt="Logo" class="img-responsive client-image" /></li>
                        <li class="animated" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.6s"><img src="~/Assets/media/clients/harvard.jpg" alt="Logo" class="img-responsive client-image" /></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>