﻿body {
    /*padding-top: 50px;*/
    /*padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

#bttop {
    border: 1px solid #4adcff;
    background: #24bde2;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    bottom: 35px;
    right: 30px;
    cursor: pointer;
    display: none;
    color: #fff;
    font-size: 11px;
    font-weight: 900;
}

    #bttop:hover {
        border: 1px solid #ffa789;
        background: #ff6734;
    }

/*.h1-page-title {
    font-size: 20px;
}
.h2-page-desc{
     font-size: 14px;
}*/

h1, h2, h3, h4, h5{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.item-image{
    height:50px;
    width:auto;
}