﻿<footer>
    <div class="footer">
        <div class="container">
            <div class="footer-wrapper">
                <div class="row">

                    <!-- Footer Col. -->
                    <div class="col-md-3 col-sm-3 footer-col">
                        <div class="footer-content">
                            <div class="footer-title">
                                Giới thiệu ULI
                            </div>
                            @*<div class="footer-content-logo">
                                   <img src="~/Assets/images/main_logo.png" alt="" />
                                </div>*@
                            <div class="footer-content-text">
                                <p>
                                    ULI được thành lập với với sứ mạng tiếp sức cho thế hệ trẻ Việt Nam trên con đường tiến ra thế giới bằng hai công cụ toàn cầu, tiếng Anh và Khoa học máy tính.
                                </p>
                                <p>
                                    Với kiến thức Khoa học máy tính và tiếng Anh, các bạn trẻ sẽ tự tin và có đủ cơ hội để phát triển nghề nghiệp trong thời đại công nghệ 4.0 và toàn cầu hóa.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- //Footer Col.// -->
                    <!-- Footer Col. -->
                    <div class="col-md-3 col-sm-3 footer-col">
                        <div class="footer-title">
                            Tin gần đây
                        </div>
                        <div class="footer-content">
                            <ul class="posts-list">
                                @for (int i = 0; i < 2; i++)
                                {
                                    <li>
                                        <div class="posts-list-thumbnail">
                                            <a href="#">
                                                <img src="~/Assets/media/blog1-thumb.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="posts-list-content">
                                            <a href="#" class="posts-list-title">Tuyển dụng Lập trình viên Java/ .Net/ PHP </a>
                                            <small class="posts-list-meta">
                                                July 30, 2013
                                            </small>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <!-- //Footer Col.// -->
                    <!-- Footer Col. -->
                    <div class="col-md-3 col-sm-3 footer-col">
                        <div class="footer-title">
                            Liên kết
                        </div>
                        <div class="footer-content">
                            <ul class="footer-category-list">
                                <li><a href="#">Giới thiệu</a> </li>
                                <li><a href="#">Chương trình đào tạo</a> </li>
                                <li><a href="#">Lịch khai giảng</a> </li>
                                <li><a href="#">Liên hệ</a> </li>
                                <li><a href="#">Tin mới</a> </li>
                                <li><a href="#">Testimonial</a> </li>
                            </ul>
                        </div>
                    </div>
                    <!-- //Footer Col.// -->
                    <!-- Footer Col. -->
                    <div class="col-md-3 col-sm-3 footer-col">
                        <div class="footer-title">
                            Testimonials
                        </div>
                        <div class="footer-content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="testimonial">
                                        <div class="testimonial-content cycle-slideshow" data-cycle-slides="> .testimonial-item" data-cycle-swipe="true">
                                            @for (int i = 0; i < 2; i++)
                                            {
                                                <div class="testimonial-item">
                                                    <div class="testimonial-person-pic">
                                                        <img src="~/Assets/media/team1.jpg" alt="Jane Doe" class="img-responsive" />
                                                    </div>
                                                    <div class="testimonial-text" style="color:black">
                                                        Lorem ipsum dolor sit amet, feugiat delicata liberavisse id cum, no quo maiorum intellegebat, liber regione eu sit.
                                                    </div>
                                                    <div class="testimonial-by">
                                                        <span class="testimonial-by-name">Nguyễn Văn Dậu,</span>
                                                        <span class="testimonial-by-position">Học viên</span>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 center-text">
                        <div class="copyright-text">&copy; 2017 ULI By <a href="https://hcmuteteam.com/chuongnh" target="_blank">HCMUTE TEAM</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
    </div>
