﻿<header id="header">
    <div class="container">
        <div class="row header">
            <!-- Logo -->
            <div class="col-xs-2 logo">
                <a href="/">
                    <img src="~/Assets/images/main_logo.png" alt="Kanzi HTML5 Template" />
                </a>
            </div>
            <!-- //Logo// -->
            <!-- Navigation File -->
            <div class="col-md-10">
                <!-- Mobile Button Menu -->
                <div class="mobile-menu-button">
                    <i class="fa fa-list-ul"></i>
                </div>
                <!-- //Mobile Button Menu// -->


                <nav>
                    <ul class="navigation">
                        <li>
                            <a href="/ULIMember">
                                <span class="label-nav">
                                    Giới thiệu
                                </span>
                            </a>
                            <ul>
                                <li>
                                    <a href="#"> Tầm nhìn & Định hướng </a>
                                </li>
                                <li>
                                    <a href="#">Các thành viên</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/#">
                                <span class="label-nav">
                                   Chương trình đào tạo
                                </span>
                            </a>
                            <ul>
                                <li>
                                    <a href="#">Chương trình học</a>
                                </li>
                                <li>
                                    <a href="#">Ban giảng huấn</a>
                                </li>
                                <li>
                                    <a href="#">Cách đăng ký</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/UpCommingClasses">
                                <span class="label-nav">
                                    Lịch khai giảng
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="/Contact">
                                <span class="label-nav">
                                    Liên hệ
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="/News">
                                <span class="label-nav">
                                    Tin mới
                                </span>
                            </a>
                            <ul>
                                <li>
                                    <a href="#">Jobs</a>
                                </li>
                                <li>
                                    <a href="#">Sự kiện</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/#">
                                <span class="label-nav">
                                    Testimonial
                                </span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- Mobile Nav. Container -->
                <ul class="mobile-nav">
                    <li class="responsive-searchbox">
                        <!-- Responsive Nave -->
                        <form action="#" method="get">
                            <input type="text" class="searchbox-inputtext" id="searchbox-inputtext-mobile" name="s" />
                            <button class="icon-search"></button>
                        </form>
                        <!-- //Responsive Nave// -->
                    </li>
                </ul>
                <!-- //Mobile Nav. Container// -->
            </div>
            <!-- Nav -->
        </div>

    </div>
</header>
