﻿<!DOCTYPE html>
<html class="no-js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ULI">
    <meta name="author" content="chuongnh">
    <meta name="keyword" content="ULI">

    <title>@ViewBag.Title - ULI</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Assets/css/revolution_settings.css">
    <link rel="stylesheet" href="~/Assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/Assets/css/font-awesome.css">
    <link rel="stylesheet" href="~/Assets/css/axfont.css">
    <link rel="stylesheet" href="~/Assets/css/tipsy.css">
    <link rel="stylesheet" href="~/Assets/css/prettyPhoto.css">
    <link rel="stylesheet" href="~/Assets/css/isotop_animation.css">
    <link rel="stylesheet" href="~/Assets/css/animate.css">

    <!-- remprod -->
    <link rel="stylesheet" href="~/Assets/css/_colorpicker.css">
    <!-- end remprod -->
    <link href='~/Assets/css/style.css' rel='stylesheet' type='text/css'>
    <link href='~/Assets/css/responsive.css' rel='stylesheet' type='text/css'>
    <link href="~/Assets/css/skins/light-blue.css" rel='stylesheet' type='text/css' id="skin-file">
    <!-- remprod -->
    @* <style type="text/css" id="skin-chooser-css">*@
    </style>
    <!-- end remprod -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="js/respond.js"></script>
    <![endif]-->
    @*<link rel="stylesheet" href="~/Assets/css/color-chooser.css">*@
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script type="text/javascript">
        var $default_skin = "light-blue";
    </script>
</head>
<body class="bgpattern-pw-pattern">
    <div id="wrapper" class="wide">
        <div class="top_wrapper">
            @{ Html.RenderAction("_Topbar", "PartialView", null);}
            <!-- Header -->
            @{ Html.RenderAction("_Header", "PartialView", null);}
            <!-- //Header// -->
            @*@{ Html.RenderAction("_Slider", "PartialView", null);}*@
        </div>
   
        @RenderBody()
        <!--.content-wrapper end -->

        @{ Html.RenderAction("_Footer", "PartialView", null);}
        <div id='bttop'><i class="glyphicon glyphicon-chevron-up"></i></div>
    </div>
    <!-- wrapper end -->
    <script type="text/javascript" src="~/Assets/js/_jq.js"></script>
    <script type="text/javascript" src="~/Assets/js/_jquery.placeholder.js"></script>
    <!-- remprod -->
    <script type="text/javascript" src="~/Assets/js/_colorpicker.js"></script>
    <script type="text/javascript" src="~/Assets/js/_handlebars.js"></script>
    <script type="text/javascript" src="~/Assets/js/_skins.js"></script>
    @*<script type="text/javascript" src="~/Assets/js/_skinchooser.js"></script>*@
    <!-- end remprod -->
    <script src="~/Assets/js/activeaxon_menu.js" type="text/javascript"></script>
    <script src="~/Assets/js/animationEnigne.js" type="text/javascript"></script>
    <script src="~/Assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Assets/js/ie-fixes.js" type="text/javascript"></script>
    <script src="~/Assets/js/jq.appear.js" type="text/javascript"></script>
    <script src="~/Assets/js/jquery.base64.js" type="text/javascript"></script>
    <script src="~/Assets/js/jquery.carouFredSel-6.2.1-packed.js" type="text/javascript"></script>
    <script src="~/Assets/js/jquery.cycle.js" type="text/javascript"></script>
    <script src="~/Assets/js/jquery.cycle2.carousel.js" type="text/javascript"></script>
    <script src="~/Assets/js/jquery.easing.1.3.js" type="text/javascript"></script>
    <script src="~/Assets/js/jquery.easytabs.js" type="text/javascript"></script>
    <script src="~/Assets/js/jquery.infinitescroll.js" type="text/javascript"></script>
    <script src="~/Assets/js/jquery.isotope.js" type="text/javascript"></script>
    <script src="~/Assets/js/jquery.prettyPhoto.js" type="text/javascript"></script>
    <script src="~/Assets/js/jQuery.scrollPoint.js" type="text/javascript"></script>
    <script src="~/Assets/js/jquery.themepunch.plugins.min.js" type="text/javascript"></script>
    <script src="~/Assets/js/jquery.themepunch.revolution.js" type="text/javascript"></script>
    <script src="~/Assets/js/jquery.tipsy.js" type="text/javascript"></script>
    <script src="~/Assets/js/jquery.validate.js" type="text/javascript"></script>
    <script src="~/Assets/js/jQuery.XDomainRequest.js" type="text/javascript"></script>
    <script src="~/Assets/js/kanzi.js" type="text/javascript"></script>
    <script src="~/Assets/js/retina.js" type="text/javascript"></script>
    <script src="~/Assets/js/timeago.js" type="text/javascript"></script>
    <script src="~/Assets/js/tweetable.jquery.js" type="text/javascript"></script>

    <script src="~/Scripts/site.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
