﻿<div class="sidebar">

    <!-- Sidebar Block -->
    <div class="sidebar-block">
        <div class="sidebar-content tags blog-search">
            <form action="#" method="post">
                <div class="input-group">
                    <input type="text" name="q" class="form-control blog-search-input text-input" placeholder="Tìm kiếm bài viết.." />
                    <span class="input-group-addon">
                        <button class="blog-search-button icon-search "></button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <!-- Sidebar Block -->
    <!-- Sidebar Block -->
    @*<div class="sidebar-block">
        <h3 class="h3-sidebar-title sidebar-title">
            tags
        </h3>
        <div class="sidebar-content tags">
            <a href="#">HTML5</a>
            <a href="#">CSS3</a>
            <a href="#">jQuery</a>
            <a href="#">JavaScript</a>
            <a href="#">WordPress</a>
            <a href="#">PHP</a>
            <a href="#">CSS</a>
            <a href="#">Social Media</a>
            <a href="#">HTML</a>
        </div>
    </div>*@
    <!-- Sidebar Block -->
    <!-- Sidebar Block -->
    <div class="sidebar-block">
        <h3 class="h3-sidebar-title sidebar-title" style="padding-top:5px">
           Bài viết gần đây
        </h3>
        <div class="sidebar-content">
            <ul class="posts-list">
                <li>
                    <div class="posts-list-thumbnail">
                        <a href="#">
                            <img src="~/Assets/media/blog1-thumb.jpg" alt="" />
                        </a>
                    </div>
                    <div class="posts-list-content">
                        <a href="#" class="posts-list-title">Sidebar post example </a>
                        <span class="posts-list-meta">
                            July 30, 2013
                        </span>
                    </div>
                </li>
                <li>
                    <div class="posts-list-thumbnail">
                        <a href="#">
                            <img src="~/Assets/media/blog2-thumb.jpg" alt="" />
                        </a>
                    </div>
                    <div class="posts-list-content">
                        <a href="#" class="posts-list-title">Sidebar post example </a>
                        <span class="posts-list-meta">
                            July 30, 2013
                        </span>
                    </div>
                </li>
                <li>
                    <div class="posts-list-thumbnail">
                        <a href="#">
                            <img src="~/Assets/media/blog3-thumb.jpg" alt="" />
                        </a>
                    </div>
                    <div class="posts-list-content">
                        <a href="#" class="posts-list-title">Sidebar post example </a>
                        <span class="posts-list-meta">
                            July 30, 2013
                        </span>
                    </div>
                </li>
                <li>
                    <div class="posts-list-thumbnail">
                        <a href="#">
                            <img src="~/Assets/media/blog4-thumb.jpg" alt="" />
                        </a>
                    </div>
                    <div class="posts-list-content">
                        <a href="#" class="posts-list-title">Sidebar post example </a>
                        <span class="posts-list-meta">
                            July 30, 2013
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- Sidebar Block -->
</div>
