﻿@{
    var sliders = (List<WebULI.Models.ApplicationSlider>)ViewBag.Sliders;
}

<div class="slider-fixed-container">
    <div class="slider-fixed-frame">
        <div class="cycle-slideshow cycle-show-with-frame" data-cycle-slides="> .slider-img" data-cycle-swipe="true" data-cycle-prev=".cycle-prev"
             data-cycle-next=".cycle-next" data-cycle-overlay-fx-out="slideUp" data-cycle-overlay-fx-in="slideDown"
             data-cycle-timeout=0 style="height:450px">
            <div class="fa fa-chevron-right cycle-next"></div>
            <div class="fa fa-chevron-left cycle-prev"></div>
            <div class="cycle-pager"></div>

            @foreach (var item in sliders)
            {
                <!-- slider item -->
                <div class="slider-img">
                    <img src="@item.ImageUrl" class="img img-responsive" alt="@item.Title" style="height:450px"/>
                </div>
            <!-- //slider item// -->
            }
        </div>
    </div>
</div>
