﻿<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="call-us top-bar-block">
                    <i class="icon-phone"></i>
                    <span>
                        Gọi cho chúng tôi: 0123 7739 259
                    </span>
                </div>
                <div class="mail-us top-bar-block">
                    <i class="icon-email"></i>
                    <span>
                        E-mail: contact@uli.edu.vn
                    </span>
                </div>
            </div>
            <div class="col-sm-5">
                <!-- Search Box -->
                @*<div class="searchbox">
                    <form action="#" method="get">
                        <input type="text" class="searchbox-inputtext" id="searchbox-inputtext" name="s" placeholder="Search.." />
                        <label class="searchbox-icon" for="searchbox-inputtext"></label>
                        <input type="submit" class="searchbox-submit" value="Search" />
                    </form>
                </div>*@
                <!-- //Search Box// -->
                <div class="social-icons">
                    <ul>
                        <li>
                            <a href="/Account/Login" target="_self" class="label label-default" data-original-title="facebook"> Đăng nhập</a>
                        </li>
                        <li>
                            <a href="/Account/Register" target="_self" class="label label-primary" data-original-title="twitter"> Đăng ký</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
