﻿@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = null;
    ViewBag.Title = "Error";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="ULI">
    <meta name="author" content="chuongnh">
    <meta name="keyword" content="ULI">
    <title>@ViewBag.Title - ULI</title>
    <!-- <link rel="shortcut icon" href="assets/ico/favicon.png"> -->
    <!-- Icons -->
    <link href="~/Areas/Admin/Assets/vendors/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Areas/Admin/Assets/vendors/css/simple-line-icons.min.css" rel="stylesheet">
    <!-- Main styles for this application -->
    <link href="~/Areas/Admin/Assets/css/style.css" rel="stylesheet">
    <!-- Styles required by this views -->
</head>
<body class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="text-danger">Error.</h1>
                <h2 class="text-danger">An error occurred while processing your request.</h2>
            </div>
        </div>
    </div>
    <!-- Bootstrap and necessary plugins -->
    <script src="~/Areas/Admin/Assets/vendors/js/jquery.min.js"></script>
    <script src="~/Areas/Admin/Assets/vendors/js/popper.min.js"></script>
    <script src="~/Areas/Admin/Assets/vendors/js/bootstrap.min.js"></script>
</body>
</html>



