﻿
@{
    ViewBag.Title = "UpComming Classes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="top-title-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="page-info">
                    <h1 class="h1-page-title">Lịch khai giảng</h1>
                    <h2 class="h2-page-desc">
                        Tìm và đăng ký các khóa học ngay
                    </h2>
                    <!-- BreadCrumb -->
                    <div class="breadcrumb-container">
                        <ol class="breadcrumbs">
                            <li>
                                <a href="/">Trang chủ</a>
                            </li>
                            <li class="active">Lịch khai giảng</li>
                        </ol>
                    </div>
                    <!-- BreadCrumb -->
                </div>
            </div>
        </div>
    </div>
</div>
 <!--.top wrapper end -->
<div class="loading-container">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<div class="content-wrapper hide-until-loading">
    <div class="section-content bottom-body">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="message-box clearfix">
                        <button href="#" class="btn btn-lg">Liên hệ ngay</button>
                        <div class="message-content">
                            <h4>
                                <span class="colored">Cách đăng ký: </span>
                               
                            </h4>
                            <ul class="lead">
                                <li>
                                    Bước 1: Submit 01 essay và 01 resume về địa chỉ email contact@uli.edu.vn
                                </li>
                                <li>Bước 2: phỏng vấn trực tiếp tại ULI</li>
                                <li>Bước 3: bắt đầu chương trình đào tạo</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body-wrapper">
        <div class="container">
            <div class="row">
              @for (int i = 0; i < 4; i++)
              {
                <div class="col-md-12 col-sm-12">
                    <div class="title-block clearfix">
                        <h3 class="h3-body-title">Lớp Lập trình Android</h3>
                        <div class="title-seperator"></div>
                    </div>
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Khóa học</th>
                                <th>Giảng viên</th>
                                <th>Ngày khai giảng</th>
                                <th>SL Đăng ký</th>
                                <th>Đăng ký</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int j = 0; j < 4; j++)
                            {
                                <tr>
                                    <td>@(j + 1)</td>
                                    <td>Lập trình android @(j + 1)</td>
                                    <td>Nguyễn Văn A</td>
                                    <td>@DateTime.Now.ToShortDateString()</td>
                                    <td>10</td>
                                    <td><a href="#" class="btn btn-primary btn-sm">Đăng ký</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
              }
            </div>
        </div>
    </div>
</div>
