﻿@{
    ViewBag.Title = "Trang chủ";
    var courses = (List<WebULI.Models.ApplicationCourse>)ViewBag.Courses;

    var upCommingClasses = (List<WebULI.Models.ApplicationUpCommingClasses>)ViewBag.UpCommingClasses;

}
@section scripts{
    <script src="~/Scripts/jquery.shorten.min.js"></script>
    <script>
        $('.course-desc').shorten({
            showChars: 150,
            moreText: '',
            lessText: ''
        });
        $('.course-name').shorten({
            showChars: 15,
            moreText: '',
            lessText: ''
        });

        $('.new-desc').shorten({
            showChars: 150,
            moreText: '',
            lessText: ''
        });
        $('.news-title').shorten({
            showChars: 15,
            moreText: '',
            lessText: ''
        });
    </script>
    <script>
        $('#form-subscribe').submit(function (e) {
            e.preventDefault();
            var url = $(this).prop('action');
            var method = $(this).prop('method');
            var data = $(this).serialize();
            $.ajax({
                url: url,
                type: method,
                data: data,
                success: function (res) {
                    console.log(res);
                }
            })
        })

    </script>
}

@{ Html.RenderAction("_Slider", "PartialView", null);}
<!--.top wrapper end -->
<div class="loading-container">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<div class="content-wrapper hide-until-loading">
    <div class="body-wrapper">

        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h2 class="h2-section-title">
                        Bắt đầu tại đây
                    </h2>
                    <div class="section-subscribe">
                        <form action="/Home/Start" class="form-horizontal" method="post" id="form-subscribe">
                            <div class="input-group">
                                <input type="email" name="email" class="subscribe-input text-input" placeholder="Nhập địa chỉ email của bạn ..." />
                                <span class="input-group-btn">
                                    <button type="submit" class="subscribe-button icon-email-plane"></button>
                                </span>
                            </div><!-- /input-group -->
                        </form>
                        <div class="social-icons circle">
                            <p class="p-section-info">Nhập địa chỉ email của bạn, để được nhận thông tin về các khóa học</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-sep40"></div>
        <div class="section-content section-image bg2 white-text">
            <div class="container">
                <div class="row">
                    <h2 class="h2-section-title">Các khóa học</h2>
                    <h3 class="h3-section-info">ULI thường xuyên mở các khóa học để cho các học viên có thể dễ dàng tham gia với chúng tôi</h3>
                    <div class="row">
                        @foreach (var item in courses)
                        {
                            <div class="col-md-3 col-sm-3">
                                <div class="feature animated" data-animtype="fadeIn" data-animrepeat="0" data-animspeed="1s" data-animdelay="0s">
                                    <div class="feature-image img-overlay">
                                        <img src="@item.ImageUrl" alt="@item.Name" title="@item.Name">
                                        @*<div class="item-img-overlay">
                                                <a class="portfolio-zoom fa fa-plus" href="@item.ImageUrl"
                                                   data-rel="prettyPhoto[portfolio]" title="@item.Name">
                                                </a>
                                            </div>*@
                                    </div>
                                    <div class="feature-content">
                                        <h3 class="h3-body-title blog-title">
                                            <a href="#" class="course-name">@item.Name</a>
                                        </h3>
                                        <p class="course-desc">
                                            @item.Decsription
                                        </p>

                                        <a href="#" class="btn btn-primary btn-block">Đăng ký ngay</a>
                                    </div>
                                    <div class="feature-details">
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
        <div class="space-sep40"></div>

        <div class="section-content section-color-gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <h2 class="h2-section-title animated" data-animtype="fadeIn" data-animrepeat="0" data-animspeed="1s" data-animdelay="0s">Chúng tôi là ai </h2>
                        <div class="i-section-title">
                            <i class="icon-users-outline">
                            </i>
                        </div>
                        <h3 class="h3-section-info animated" data-animtype="fadeIn" data-animrepeat="0" data-animspeed="1s" data-animdelay="0.2s">
                            ULI được thành lập với với sứ mạng tiếp sức cho thế hệ trẻ Việt Nam trên con đường tiến ra thế giới bằng hai công cụ toàn cầu, tiếng Anh và Khoa học máy tính. Với kiến thức Khoa học máy tính và tiếng Anh, các bạn trẻ sẽ tự tin và có đủ cơ hội để phát triển nghề nghiệp trong thời đại công nghệ 4.0 và toàn cầu hóa.
                        </h3>
                        <ul class="section-clients">
                            @*@for (int j = 0; j < 4; j++)
                                {
                                <li class="animated" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0s">
                                    <img src="~/Assets/media/clients/harvard.jpg" alt="Logo" class="img-responsive client-image" />
                                </li>
                                }*@
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="space-sep40"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 animated" data-animtype="fadeIn" data-animrepeat="0" data-speed="1s" data-delay="0s">
                    <h2 class="h2-section-title">Bạn là ai?</h2>
                    <div class="i-section-title">
                        <i class="icon-feather">
                        </i>
                    </div>
                </div>
            </div>
            <div class="space-sep20"></div>
            <div class="row animated" data-animtype="fadeIn" data-animrepeat="0" data-speed="1s" data-delay="0s">
                <div class="col-md-6 col-sm-6">
                    <div class="title-block clearfix">
                        <h3 class="h3-body-title">Bạn là</h3>
                        <div class="title-seperator"></div>
                    </div>
                    <p>
                        <ul>
                            <li>Sinh viên Việt Nam có đam mê với lĩnh vực Công nghệ thông tin hay Khoa học máy tính mà chưa biết bắt đầu từ đâu.</li>
                            <li>Có nền tảng chắc chắn về các môn Khoa học căn bản (Toán, Lý).</li>
                            <li>Khát khao mở rộng cơ hội nghề nghiệp ngoài chuyên ngành đã/đang học tại trường.</li>
                            <li>Mong muốn làm việc cho các công ty IT hàng đầu trong và ngoài nước.</li>
                        </ul>
                    </p>
                    <p class="">
                        Chương trình đào tạo cung cấp cho học viên kiến thức từ căn bản đến nâng cao trong lĩnh vực Khoa học máy tính. Trước khi bắt đầu chương trình, học viên sẽ cùng mentor vạch ra lộ trình phát triển dựa theo nguyện vọng của bản thân. Chương trình học kéo dài 3 - 6 tháng tùy thuộc vào trình độ của từng cá nhân. Sau khi hoàn tất khóa học, học viên có cơ hội làm việc cho các công ty IT tại Việt Nam hoặc tại Silicon Valley, Mỹ và Nhật Bản.
                    </p>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="cycle-slideshow frame1" data-cycle-slides="> .slider-img" data-cycle-swipe="true" data-cycle-prev=".cycle-prev"
                         data-cycle-next=".cycle-next" data-cycle-overlay-fx-out="slideUp" data-cycle-overlay-fx-in="slideDown"
                         data-cycle-timeout=0>
                        <div class="fa fa-chevron-right cycle-next"></div>
                        <div class="fa fa-chevron-left cycle-prev"></div>
                        <div class="cycle-pager"></div>
                        <!-- slider item -->
                        <div class="slider-img">
                            <img src="~/Assets/media/about-us2.jpg" alt="about-us2.jpg" />
                        </div>
                        <!-- //slider item// -->
                        <!-- slider item -->
                        <div class="slider-img">
                            <img src="~/Assets/media/about-us1.jpg" alt="about-us1.jpg" />
                        </div>
                        <!-- //slider item// -->
                    </div>

                </div>
            </div>
            <div class="space-sep40"></div>
        </div>

        <div class="section-content section-px white-text">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 animated" data-animtype="fadeIn" data-animrepeat="0" data-speed="1s" data-delay="0s">
                        <h2 class="h2-section-title">Thành viên ULI (Ban giảng huấn)</h2>
                        <div class="i-section-title">
                            <i class="icon-users-outline">
                            </i>
                        </div>
                        <h3 class="h3-section-info">Mục tiêu của ULI là cung cấp chương trình và đội ngũ giảng dạy tiếng Anh chất lượng cao để đảm bảo học viên có thể giao tiếp tiếng Anh trôi chảy, chính xác và hiệu quả nhất. Thêm vào đó, với tư cách là cầu nối chặt chẽ với các gia sư hàng dầu đang giảng dạy tại các trường nổi tiếng tại mỹ, chúng tôi sẽ giúp các bạn thực hiện hóa ước mơ du học tại Mỹ một cách dễ dàng và vũng chắc nhất.</h3>
                        <div class="space-sep20"></div>
                    </div>
                </div>

                <div class="row animated" data-animtype="fadeIn" data-animrepeat="0" data-animdelay="0s">
                    <div class="col-md-3 col-sm-3">
                        <div class="feature">
                            <div class="feature img-overlay">
                                <img src="~/Assets/media/teacher/Untitled_1.png" alt="" />
                            </div>
                            @*<div class="team-member-content">
                                    <h3 class="team-member-name h3-body-title white-text">
                                        Joe Shmoe
                                    </h3>
                                    <div class="team-member-position white-text">
                                        Graphic Designer
                                    </div>
                                </div>*@
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="feature">
                            <div class="feature-image img-overlay">
                                <img src="~/Assets/media/teacher/Untitled_2.png" alt="" />
                            </div>
                            @*<div class="team-member-content">
                                    <h3 class="team-member-name h3-body-title white-text">
                                        Joe Shmoe
                                    </h3>
                                    <div class="team-member-position white-text">
                                        Graphic Designer
                                    </div>
                                </div>*@
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="feature">
                            <div class="feature-image img-overlay">
                                <img src="~/Assets/media/teacher/Untitled_3.png" alt="" />
                            </div>
                            @*<div class="team-member-content">
                                    <h3 class="team-member-name h3-body-title white-text">
                                        Joe Shmoe
                                    </h3>
                                    <div class="team-member-position white-text">
                                        Graphic Designer
                                    </div>
                                </div>*@
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="feature">
                            <div class="feature-image img-overlay">
                                <img src="~/Assets/media/teacher/Untitled_4.png" alt="" />
                            </div>
                            @*<div class="team-member-content">
                                    <h3 class="team-member-name h3-body-title white-text">
                                        Joe Shmoe
                                    </h3>
                                    <div class="team-member-position white-text">
                                        Graphic Designer
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="space-sep40"></div>
        <div class="container">
            <h2 class="h2-section-title">Tin mới nhất</h2>
            <div class="i-section-title">
                <i class="icon-news">
                </i>
            </div>
            <h3 class="h3-section-info">Tin tức về các khóa học và việc làm</h3>
            <div class="space-sep20"></div>
            <div class="row">
                @for (int j = 0; j < 4; j++)
                {
                    <div class="col-md-3 col-ms-3">
                        <div class="feature animated" data-animtype="fadeIn" data-animrepeat="0" data-animspeed="1s" data-animdelay="0s">
                            <div class="feature-image img-overlay">
                                <img src="~/Assets/media/office-1.jpg" alt="" />
                            </div>
                            <div class="feature-content">
                                <h3 class="h3-body-title blog-title">
                                    <a href="#" class="new-title">Aenean tellus metus</a>
                                </h3>
                                <p class="new-desc">
                                    Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a [...]
                                </p>

                            </div>
                            <div class="feature-details">
                                <i class="icon-calendar"></i>
                                <span>July 10, 2013</span>
                                <span class="details-seperator"></span>
                                <a href="#"><i class="icon-comment"></i><span>4</span></a>

                                <div class="feature-share">
                                    <a href="#"><i class="icon-heart"></i></a>
                                    <a href="#"><i class="icon-facebook"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="section-content section-color-white">
        <div class="container">
            <h2 class="h2-section-title">Lịch khai giảng</h2>
            <div class="i-section-title">
                <i class="icon-calendar">
                </i>
            </div>
            <h3 class="h3-section-info">Các khóa học thường xuyên được khai giảng để các học viên dễ dàng tham gia hơn.</h3>
            <div class="space-sep20"></div>
            <div class="row animated" data-animtype="fadeIn" data-animrepeat="0" data-animdelay="0s">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Khóa học</th>
                            <th>Giảng viên</th>
                            <th>Ngày khai giảng</th>
                            <th>Đăng ký</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                        }
                        @foreach (var item in upCommingClasses)
                        {
                            <tr>
                                <td>@(i++)</td>
                                <td>@item.Course.Name</td>
                                <td>@item.TecherName</td>
                                <td>@item.UpCommingDate</td>
                                <td><a href="#" class="btn btn-primary btn-sm">Đăng ký</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>