﻿@model IEnumerable<WebULI.Models.ApplicationCourse>

@{
    ViewBag.Title = "Khóa học";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section scripts{

    <script>
        $(".btn-change-image").on("click", function (e) {
            e.preventDefault();
            var id = $(this).data("id");
            $('#txt-change-image-' + id).click();

        })

        var loadFile = function (event, id) {
            $('#form-change-image-' + id).submit();

            var output = document.getElementById('image-change-image-' + id);
            output.src = URL.createObjectURL(event.target.files[0]);
        };

        $('.form-change-image').on('submit', function (e) {

            e.preventDefault();
            // Create an FormData object
            var data = new FormData(this);
            var id = $(this).data('id');
            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: "/Admin/Course/ChangeImage?id=" + id,
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                success: function (data) {
                    console.log(data);
                    if (data.status == true) {
                    }
                    else {
                    }
                }
            });
        })
    </script>
}

<!-- Breadcrumb -->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Admin">Admin</a></li>
    <li class="breadcrumb-item active">@ViewBag.Title </li>
    <!-- Breadcrumb Menu-->
    <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <a class="btn" href="/Admin"><i class="icon-graph"></i> Dashboard</a>
            <a class="btn" target="_blank" href="/"><i class="icon-home"></i> Trang chủ</a>
        </div>
    </li>
</ol>

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Danh sách khóa học

                        <span class="pull-right">
                            @Html.ActionLink("Tạo mới", "Create")
                        </span>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-hover table-sm">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ImageUrl)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ShowOnHome)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UpdateTime)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.User.Email)
                                    </th>
                                    <th>Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            <img class="img img-responsive" style="height:35px;width:auto;" id="image-change-image-@item.Id" src="@item.ImageUrl" />
                                            <a href="/Admin/Course/ChangeImage" class="btn-change-image" data-id="@item.Id">Thay đổi</a>

                                            <form action="/Admin/Course/ChangeImage" method="post" enctype="multipart/form-data" class="form-change-image" data-id="@item.Id" id="form-change-image-@item.Id">
                                                <input type="hidden" name="id" value="@item.Id" />
                                                <input type="file" name="image" style="display:none" id="txt-change-image-@item.Id" accept="image/*" onchange="loadFile(event,'@item.Id')">
                                            </form>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ShowOnHome)
                                        </td>
                                        <td>
                                            @item.UpdateTime.ToShortDateString()
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.User.Email)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Cập nhật", "Edit", new { id = item.Id }) |
                                            @Html.ActionLink("Xem", "Details", new { id = item.Id }) |
                                            @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @*<nav>
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                                    <li class="page-item active">
                                        <a class="page-link" href="#">1</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul>
                            </nav>*@
                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->
    </div>
</div>
