﻿@model WebULI.Models.ChangePasswordViewModel
@{
    Layout = null;
    ViewBag.Title = "Change Password";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="ULI">
    <meta name="author" content="chuongnh">
    <meta name="keyword" content="ULI">
    <title>@ViewBag.Title - ULI</title>
    <!-- <link rel="shortcut icon" href="assets/ico/favicon.png"> -->
    <!-- Icons -->
    <link href="~/Areas/Admin/Assets/vendors/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Areas/Admin/Assets/vendors/css/simple-line-icons.min.css" rel="stylesheet">
    <!-- Main styles for this application -->
    <link href="~/Areas/Admin/Assets/css/style.css" rel="stylesheet">
    <!-- Styles required by this views -->
</head>
<body class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card-group mb-0">
                    <div class="card p-4">
                        <div class="card-body">
                           @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                           {
                            @Html.AntiForgeryToken()
                            <h4>Change Password Form</h4>
                            <hr />
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-12 control-label" })
                                <div class="col-md-12">
                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-12 control-label" })
                                <div class="col-md-12">
                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-12 control-label" })
                                <div class="col-md-12">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="submit" value="Change password" class="btn btn-primary" />
                                </div>
                            </div>
                           }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap and necessary plugins -->
    <script src="~/Areas/Admin/Assets/vendors/js/jquery.min.js"></script>
    <script src="~/Areas/Admin/Assets/vendors/js/popper.min.js"></script>
    <script src="~/Areas/Admin/Assets/vendors/js/bootstrap.min.js"></script>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}