﻿@model WebULI.Models.ManageLoginsViewModel
@using Microsoft.Owin.Security
@{
    Layout = null;
    ViewBag.Title = "Manage your external logins";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="ULI">
    <meta name="author" content="chuongnh">
    <meta name="keyword" content="ULI">
    <title>@ViewBag.Title - ULI</title>
    <!-- <link rel="shortcut icon" href="assets/ico/favicon.png"> -->
    <!-- Icons -->
    <link href="~/Areas/Admin/Assets/vendors/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Areas/Admin/Assets/vendors/css/simple-line-icons.min.css" rel="stylesheet">
    <!-- Main styles for this application -->
    <link href="~/Areas/Admin/Assets/css/style.css" rel="stylesheet">
    <!-- Styles required by this views -->
</head>
<body class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card-group mb-0">
                    <div class="card p-4">
                        <div class="card-body">
                            <h4>@ViewBag.Title</h4><hr />
                            <p class="text-success">@ViewBag.StatusMessage</p>
                            @{
                                var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
                                if (loginProviders.Count() == 0)
                                {
                                    <div>
                                        <p>
                                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=313242">this article</a>
                                            for details on setting up this ASP.NET application to support logging in via external services.
                                        </p>
                                    </div>
                                }
                                else
                                {
                                    if (Model.CurrentLogins.Count > 0)
                                    {
                                        <h4>Registered Logins</h4>
                                        <table class="table">
                                            <tbody>
                                                @foreach (var account in Model.CurrentLogins)
                    {
                                                    <tr>
                                                        <td>@account.LoginProvider</td>
                                                        <td>
                                                            @if (ViewBag.ShowRemoveButton)
                                                            {
                                                                using (Html.BeginForm("RemoveLogin", "Manage"))
                                                                {
                                                                    @Html.AntiForgeryToken()
                                                                    <div>
                                                                        @Html.Hidden("loginProvider", account.LoginProvider)
                                                                        @Html.Hidden("providerKey", account.ProviderKey)
                                                                        <input type="submit" class="btn btn-default" value="Remove" title="Remove this @account.LoginProvider login from your account" />
                                                                    </div>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                @: &nbsp;
                                }
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }
                                    if (Model.OtherLogins.Count > 0)
                                    {
                                        using (Html.BeginForm("LinkLogin", "Manage"))
                                        {
                                            @Html.AntiForgeryToken()
                                            <div id="socialLoginList">
                                                <p>
                                                    @foreach (AuthenticationDescription p in Model.OtherLogins)
                                                    {
                                                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
                                                    }
                                                </p>
                                            </div>
                                        }
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap and necessary plugins -->
    <script src="~/Areas/Admin/Assets/vendors/js/jquery.min.js"></script>
    <script src="~/Areas/Admin/Assets/vendors/js/popper.min.js"></script>
    <script src="~/Areas/Admin/Assets/vendors/js/bootstrap.min.js"></script>
</body>
</html>
