﻿
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb -->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Admin">Admin</a></li>
    <li class="breadcrumb-item active">@ViewBag.Title </li>
    <!-- Breadcrumb Menu-->
    <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <a class="btn" href="/Admin"><i class="icon-graph"></i> Dashboard</a>
            <a class="btn" target="_blank" href="/"><i class="icon-home"></i> Trang chủ</a>
        </div>
    </li>
</ol>
<div class="container-fluid">
    <div class="animated fadeIn">
        <!--/.row-->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-sm-5">
                                <h3 class="card-title clearfix mb-0">Tổng quan dữ liệu</h3>
                            </div>
                            <div class="col-sm-7">
                                <button type="button" class="btn btn-outline-primary float-right ml-3"><i class="icon-cloud-download"></i> Tải về</button>
                                <fieldset class="form-group float-right">
                                    <div class="input-group float-right" style="width:240px;">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input name="daterange" class="form-control date-picker" type="text">
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <hr class="m-0">
                        <div class="row">
                            <div class="col-sm-12 col-lg-4">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="callout callout-info">
                                            <small class="text-muted">Tài khoản</small>
                                            <br>
                                            <strong class="h4">9,123</strong>
                                            <div class="chart-wrapper">
                                                <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/.col-->
                                    <div class="col-sm-6">
                                        <div class="callout callout-danger">
                                            <small class="text-muted">Đăng ký</small>
                                            <br>
                                            <strong class="h4">22,643</strong>
                                            <div class="chart-wrapper">
                                                <canvas id="sparkline-chart-2" width="100" height="30"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/.col-->
                                </div>
                                <!--/.row-->
                            </div>
                            <!--/.col-->
                            <div class="col-sm-6 col-lg-4">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="callout callout-warning">
                                            <small class="text-muted">Khóa học</small>
                                            <br>
                                            <strong class="h4">78,623</strong>
                                            <div class="chart-wrapper">
                                                <canvas id="sparkline-chart-3" width="100" height="30"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/.col-->
                                    <div class="col-sm-6">
                                        <div class="callout callout-success">
                                            <small class="text-muted">Lịch khai giảng</small>
                                            <br>
                                            <strong class="h4">49,123</strong>
                                            <div class="chart-wrapper">
                                                <canvas id="sparkline-chart-4" width="100" height="30"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/.col-->
                                </div>
                                <!--/.row-->
                            </div>
                            <!--/.col-->
                            <div class="col-sm-6 col-lg-4">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="callout">
                                            <small class="text-muted">Slider</small>
                                            <br>
                                            <strong class="h4">500</strong>
                                            <div class="chart-wrapper">
                                                <canvas id="sparkline-chart-5" width="100" height="30"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/.col-->
                                    <div class="col-sm-6">
                                        <div class="callout callout-primary">
                                            <small class="text-muted">Tin mới</small>
                                            <br>
                                            <strong class="h4">200</strong>
                                            <div class="chart-wrapper">
                                                <canvas id="sparkline-chart-6" width="100" height="30"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/.col-->
                                </div>
                                <!--/.row-->
                            </div>
                            <!--/.col-->
                        </div>
                        <!--/.row-->
                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->
    </div>
</div>
<!-- /.conainer-fluid -->

<div class="container-fluid">
    <div class="animated fadeIn">
        <!--/.row-->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-sm-5">
                                <h3 class="card-title clearfix mb-3">Danh sách đăng ký mới</h3>
                            </div>
                            @*<div class="col-sm-7">
                                <fieldset class="form-group float-right">
                                    <button type="button" class="btn btn-outline-primary float-right ml-3"><i class="icon-cloud-download"></i> Tải về</button>
                                </fieldset>
                            </div>*@
                        </div>
                        <hr class="m-0">
                        <table class="table table-bordered table-hover table-sm">
                            <thead>
                                <tr>
                                    <th>
                                        STT
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Họ tên
                                    </th>
                                    <th>
                                        Môn học
                                    </th>
                                    <th>
                                        Ngày đăng ký
                                    </th>
                                    <th>Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 1; i <= 5; i++)
                                {
                                    <tr>
                                       <td>@i</td>
                                        <td>chuongnh@gmail.com</td>
                                        <td>Nguyễn Hoàng Chương</td>
                                        <td>Android</td>
                                        <td>20/10/2017</td>
                                        <td>
                                            Đã xem
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->
    </div>
</div>
<!-- /.conainer-fluid -->