﻿
@{
    ViewBag.Title = "Giảng viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <!--.top wrapper end -->

<div class="top-title-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="page-info">
                    <h1 class="h1-page-title">Our Team</h1>
                    <h2 class="h2-page-desc">
                        This is our talented team
                    </h2>
                    <!-- BreadCrumb -->
                    <div class="breadcrumb-container">
                        <ol class="breadcrumbs">
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li class="active">Team</li>
                        </ol>
                    </div>
                    <!-- BreadCrumb -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="loading-container">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<div class="content-wrapper hide-until-loading">
    <div class="body-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 animated" data-animtype="flipInY" data-animrepeat="0" data-speed="1s" data-delay="0.5s">
                    <h2 class="h2-section-title">Our Team Option 1</h2>
                    <div class="i-section-title">
                        <i class="icon-users-outline">
                        </i>
                    </div>
                    <div class="space-sep20"></div>
                </div>
            </div>

            <div class="row animated" data-animtype="fadeInUp" data-animrepeat="0" data-animdelay="0.4s">
                <div class="col-md-3 col-sm-3">
                    <div class="team-member">
                        <div class="team-member-image img-overlay">
                            <img src="~/Assets/media/team1.jpg" alt="John Doe" />
                            <div class="item-img-overlay">
                                <div class="social-icons item_img_overlay_content">
                                    <a href="#" title="paypal" target="_blank" class="social-media-icon paypal-icon">paypal</a>
                                    <a href="#" title="blogger" target="_blank" class="social-media-icon blogger-icon">blogger</a>
                                    <a href="#" title="vimeo" target="_blank" class="social-media-icon vimeo-icon">vimeo</a>

                                </div>
                            </div>
                        </div>
                        <div class="team-member-content">
                            <h3 class="team-member-name h3-body-title">
                                John Doe
                            </h3>
                            <div class="team-member-position">
                                CEO
                            </div>
                            <div class="team-member-short-bio">
                                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                                dolor sit amet
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="team-member">
                        <div class="team-member-image img-overlay">
                            <img src="~/Assets/media/team3.jpg" alt="Fred Nerk" />
                            <div class="item-img-overlay">
                                <div class="social-icons item_img_overlay_content">
                                    <a href="#" title="youtube" target="_blank" class="social-media-icon youtube-icon">youtube</a>
                                    <a href="#" title="digg" target="_blank" class="social-media-icon digg-icon">digg</a>
                                    <a href="#" title="vimeo" target="_blank" class="social-media-icon vimeo-icon">vimeo</a>

                                </div>
                            </div>
                        </div>
                        <div class="team-member-content">
                            <h3 class="team-member-name h3-body-title">
                                Fred Nerk
                            </h3>
                            <div class="team-member-position">
                                Business analysts
                            </div>
                            <div class="team-member-short-bio">
                                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                                dolor sit amet
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="team-member">
                        <div class="team-member-image img-overlay">
                            <img src="~/Assets/media/team6.jpg" alt="Jecson Smith" />
                            <div class="item-img-overlay">
                                <div class="social-icons item_img_overlay_content">
                                    <a href="#" title="ember" target="_blank" class="social-media-icon ember-icon">ember</a>
                                    <a href="#" title="linkedin" target="_blank" class="social-media-icon linkedin-icon">linkedin</a>
                                    <a href="#" title="blogger" target="_blank" class="social-media-icon blogger-icon">blogger</a>

                                </div>
                            </div>
                        </div>
                        <div class="team-member-content">
                            <h3 class="team-member-name h3-body-title">
                                Jecson Smith
                            </h3>
                            <div class="team-member-position">
                                UI Specialist
                            </div>
                            <div class="team-member-short-bio">
                                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                                dolor sit amet
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="team-member">
                        <div class="team-member-image img-overlay">
                            <img src="~/Assets/media/team5.jpg" alt="Joe Shmoe" />
                            <div class="item-img-overlay">
                                <div class="social-icons item_img_overlay_content">
                                    <a href="#" title="reddit" target="_blank" class="social-media-icon reddit-icon">reddit</a>
                                    <a href="#" title="vimeo" target="_blank" class="social-media-icon vimeo-icon">vimeo</a>

                                </div>
                            </div>
                        </div>
                        <div class="team-member-content">
                            <h3 class="team-member-name h3-body-title">
                                Joe Shmoe
                            </h3>
                            <div class="team-member-position">
                                Graphic Designer
                            </div>
                            <div class="team-member-short-bio">
                                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                                dolor sit amet
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space-sep20"></div>
            <div class="divider divider-shadow"></div>
            <div class="space-sep20"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 animated" data-animtype="flipInY" data-animrepeat="0" data-speed="1s" data-delay="0.5s">
                    <h2 class="h2-section-title">Our Team Option 2</h2>
                    <div class="i-section-title">
                        <i class="icon-users-outline">
                        </i>
                    </div>
                    <div class="space-sep20"></div>
                </div>
            </div>
            <div class="row animated" data-animtype="fadeInUp" data-animrepeat="0" data-animdelay="0.4s">
                <div class="col-md-4 col-sm-4">
                    <div class="team-member">
                        <div class="team-member-image img-overlay">
                            <img src="~/Assets/media/team3.jpg" alt="Fred Nerk" />
                            <div class="item-img-overlay">
                                <div class="social-icons item_img_overlay_content">
                                    <a href="#" title="youtube" target="_blank" class="social-media-icon youtube-icon">youtube</a>
                                    <a href="#" title="digg" target="_blank" class="social-media-icon digg-icon">digg</a>
                                    <a href="#" title="vimeo" target="_blank" class="social-media-icon vimeo-icon">vimeo</a>

                                </div>
                            </div>
                        </div>
                        <div class="team-member-content">
                            <h3 class="team-member-name h3-body-title">
                                Fred Nerk
                            </h3>
                            <div class="team-member-position">
                                Business analysts
                            </div>
                            <div class="team-member-short-bio">
                                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                                dolor sit amet
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="team-member">
                        <div class="team-member-image img-overlay">
                            <img src="~/Assets/media/team6.jpg" alt="Jecson Smith" />
                            <div class="item-img-overlay">
                                <div class="social-icons item_img_overlay_content">
                                    <a href="#" title="ember" target="_blank" class="social-media-icon ember-icon">ember</a>
                                    <a href="#" title="linkedin" target="_blank" class="social-media-icon linkedin-icon">linkedin</a>
                                    <a href="#" title="blogger" target="_blank" class="social-media-icon blogger-icon">blogger</a>

                                </div>
                            </div>
                        </div>
                        <div class="team-member-content">
                            <h3 class="team-member-name h3-body-title">
                                Jecson Smith
                            </h3>
                            <div class="team-member-position">
                                UI Specialist
                            </div>
                            <div class="team-member-short-bio">
                                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                                dolor sit amet
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="team-member">
                        <div class="team-member-image img-overlay">
                            <img src="~/Assets/media/team7.jpg" alt="Eric Lorman" />
                            <div class="item-img-overlay">
                                <div class="social-icons item_img_overlay_content">
                                    <a href="#" title="myspace" target="_blank" class="social-media-icon myspace-icon">myspace</a>
                                    <a href="#" title="googleplus" target="_blank" class="social-media-icon googleplus-icon">googleplus</a>
                                    <a href="#" title="rss" target="_blank" class="social-media-icon rss-icon">rss</a>
                                    <a href="#" title="flickr" target="_blank" class="social-media-icon flickr-icon">flickr</a>

                                </div>
                            </div>
                        </div>
                        <div class="team-member-content">
                            <h3 class="team-member-name h3-body-title">
                                Eric Lorman
                            </h3>
                            <div class="team-member-position">
                                Usability Expert
                            </div>
                            <div class="team-member-short-bio">
                                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
                                dolor sit amet
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="space-sep40"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 animated" data-animtype="fadeInDown" data-animrepeat="0" data-animdelay="0s">
                    <div class="title-block clearfix">
                        <h3 class="h3-body-title">Our Office</h3>
                        <div class="title-seperator"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="feature animated" data-animtype="fadeInLeft" data-animrepeat="0" data-speed="1s" data-delay="0s">
                        <div class="feature-image img-overlay">
                            <img src="~/Assets/media/office-1.jpg" alt="" />
                            <div class="item-img-overlay">
                                <a class="portfolio-zoom fa fa-plus" href="~/Assets/media/office-1.jpg" data-rel="prettyPhoto[portfolio]" title="Title goes here"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="feature animated" data-animtype="fadeInLeft" data-animrepeat="0" data-speed="1s" data-delay="0.2s">
                        <div class="feature-image img-overlay">
                            <img src="~/Assets/media/office-2.jpg" alt="" />
                            <div class="item-img-overlay">
                                <a class="portfolio-zoom fa fa-plus" href="~/Assets/media/office-2.jpg" data-rel="prettyPhoto[portfolio]" title="Title goes here"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="feature animated" data-animtype="fadeInLeft" data-animrepeat="0" data-speed="1s" data-delay="0.4s">
                        <div class="feature-image img-overlay">
                            <img src="~/Assets/media/office-3.jpg" alt="" />
                            <div class="item-img-overlay">
                                <a class="portfolio-zoom fa fa-plus" href="~/Assets/media/office-3.jpg" data-rel="prettyPhoto[portfolio]" title="Title goes here"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--.content-wrapper end -->