﻿@using WebULI.Models
@model LoginViewModel
@{
    Layout = null;
    ViewBag.Title = "Đăng nhập";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="ULI">
    <meta name="author" content="chuongnh">
    <meta name="keyword" content="ULI">
    <title>@ViewBag.Title - ULI</title>
    <!-- <link rel="shortcut icon" href="assets/ico/favicon.png"> -->
    <!-- Icons -->
    <link href="~/Areas/Admin/Assets/vendors/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Areas/Admin/Assets/vendors/css/simple-line-icons.min.css" rel="stylesheet">
    <!-- Main styles for this application -->
    <link href="~/Areas/Admin/Assets/css/style.css" rel="stylesheet">
    <!-- Styles required by this views -->
</head>
<body class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-group mb-0">
                    <div class="card p-4">
                        <div class="card-body">
                            <h1>Đăng nhập</h1>
                            <p class="text-muted">Đăng nhập vào tài khoản của bạn</p>

                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary px-4">Đăng nhập</button>
                                @Html.ActionLink("Forgot your password?", "ForgotPassword", null, new { @class = "pull-right" })
                            </div>
                            }
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-12">
                                    <section id="socialLoginForm">
                                        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                                    </section>
                                </div>
                                @*<div class="col-6">
                                    <button class="btn btn-block btn-facebook" type="button">
                                        <span>Facebook</span>
                                    </button>
                                </div>
                                <div class="col-6">
                                    <button class="btn btn-block btn-google-plus" type="button">
                                        <span>Google</span>
                                    </button>
                                </div>*@
                            </div>
                        </div>
                    </div>
                    <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                        <div class="card-body text-center">
                            <div>
                                <h2>Đăng ký</h2>
                                <p>Nếu bạn chưa có tài khoản. Vui lòng đăng ký tài khoản tại đây.</p>
                                <a href="Register" class="btn btn-primary active mt-3">Đăng ký ngay!</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap and necessary plugins -->
    <script src="~/Areas/Admin/Assets/vendors/js/jquery.min.js"></script>
    <script src="~/Areas/Admin/Assets/vendors/js/popper.min.js"></script>
    <script src="~/Areas/Admin/Assets/vendors/js/bootstrap.min.js"></script>
</body>
</html>