﻿
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script>
        $('#form-contact').submit(function (e) {
            e.preventDefault();
            var url = $(this).prop('action');
            var method = $(this).prop('method');
            var data = $(this).serialize();
            $.ajax({
                url: url,
                type: method,
                data: data,
                success: function (res) {
                    console.log(res);
                }
            })
        })
    </script>
}


<div class="top-title-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="page-info">
                    <h1 class="h1-page-title">Liên hệ</h1>
                    <h2 class="h2-page-desc">
                        Hãy gửi lời nhắn đến chúng tôi
                    </h2>
                    <!-- BreadCrumb -->
                    <div class="breadcrumb-container">
                        <ol class="breadcrumbs">
                            <li>
                                <a href="/">Trang chủ</a>
                            </li>
                            <li class="active">Liên hệ</li>
                        </ol>
                    </div>
                    <!-- BreadCrumb -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--.top wrapper end -->
<div class="loading-container">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<div class="content-wrapper hide-until-loading">
    <div class="space-sep40"></div>
    <div class="container">
        <div class="title-block clearfix">
            <h3 class="h3-body-title">Muốn nói chuyện?</h3>
            <div class="title-seperator"></div>
        </div>
        <h4>Thêm mẫu liên hệ và bản đồ</h4>
        <div class="row">
            <div class="col-md-6">
                <form action="/contact/contact" method="post" id="form-contact">
                    <div class="form-group">
                        <label>Tên của bạn</label>
                        <input class="form-control" type="text" size="35" name="name" placeholder="Nguyen Van A" required="">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" type="email" size="35" name="email" placeholder="example@gmail.com" required="">
                    </div>
                    <div class="form-group">
                        <label>Chủ đề</label>
                        <input class="form-control" type="text" size="35" name="subject" placeholder="Cần được tư vấn về Khóa học Android">
                    </div>
                    <div class="form-group">
                        <label>Tin nhắn của bạn</label>
                        <textarea class="form-control" placeholder="Thông tin cần liên hệ..." name="message"></textarea>
                    </div>

                    <input class="btn btn-primary" type="submit" value="Gửi liên hệ">
                </form>
            </div>
            <div class="col-md-6 agileits_mail_grid_right">
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1647.5271838855167!2d106.77087123218982!3d10.849363644244798!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2sin!4v1508002108248" width="550" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>

            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="space-sep40"></div>

</div>
