﻿@using Microsoft.AspNet.Identity.EntityFramework;
@{
    ViewBag.Title = "Quản lý tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var Users = (List<WebULI.Models.ApplicationUser>)ViewBag.Users;
    var roles = (List<IdentityRole>)ViewBag.Roles;
}

@section scripts{
    <script>
        $('.role').off('click').on('click', function (e) {
            e.preventDefault();
            var url = $(this).prop('href');
            var btn = $(this);
            $.ajax({
                url: url,
                method: 'post',
                success: function (res) {
                    console.log(res.data);
                    if (res.status == true && res.value == true) {
                        // thêm
                        //btn.removeClass('btn-primary');
                        btn.addClass('active');
                    }
                    else if (res.status == true && res.value == false) {
                        //hủy
                        btn.removeClass('active');
                        //btn.addClass('btn-primary');
                    }
                    else {
                        //error
                        console.log(res.data);
                    }
                }
            })
        });
    </script>
    <script>
        $('.lockout').change(function () {
            var id = $(this).data('id');
            console.log(id);

            var value = $(this).is(":checked");

            //$('#' + id).text(id);
            $.ajax({
                url: '/admin/account/lockout?id=' + id + '&value=' + value,
                type: 'post',
                success: function (res) {
                    if (res.status == true && res.lockout == true) {
                        $('#' + id).text(res.data);
                    }
                }
            })
        })
    </script>
}

<!-- Breadcrumb -->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Admin">Admin</a></li>
    <li class="breadcrumb-item active">@ViewBag.Title </li>
    <!-- Breadcrumb Menu-->
    <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <a class="btn" href="/Admin"><i class="icon-graph"></i> Dashboard</a>
            <a class="btn" target="_blank" href="/"><i class="icon-home"></i> Trang chủ</a>
        </div>
    </li>
</ol>

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Danh sách tài khoản
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Tên tài khoản </th>
                                    <th>Số điện thoại</th>
                                    <th>Khóa đã bật</th>
                                    <th class="hidden-sm hidden-xs">Hạn mở khóa</th>
                                    <th>Role</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Users)
                                {
                                    <tr>
                                        <td>@item.UserName </td>
                                        <td class="hidden-sm hidden-xs">@item.PhoneNumber</td>
                                        <td class="text-center hidden-sm hidden-xs">
                                            <label class="checkbox-inline">
                                                <input type="checkbox" class="lockout" data-id="@item.Id" checked="@item.LockoutEnabled" value="@item.LockoutEnabled">
                                            </label>
                                        </td>
                                        <td id="@item.Id" class="hidden-sm hidden-xs"> @item.LockoutEndDateUtc </td>
                                        <td>
                                            @foreach (var r in roles)
                                            {
                                                if (item.Roles.Any(x => x.RoleId == r.Id))
                                                {
                                                    <a href="/admin/account/role?id=@r.Id&userid=@item.Id" class="btn btn-secondary active btn-sm role"> @r.Name</a>
                                                }
                                                else
                                                {
                                                    <a href="/admin/account/role?id=@r.Id&userid=@item.Id" class="btn btn-secondary btn-sm role"> @r.Name</a>
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <nav>
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->
    </div>
</div>