﻿
@{
    ViewBag.Title = "Program";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="top-title-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="page-info">
                    <h1 class="h1-page-title">Kanzi Theme Blog post Number one</h1>
                    <h2 class="h2-page-desc">
                        Single Post Page
                    </h2>
                    <!-- BreadCrumb -->
                    <div class="breadcrumb-container">
                        <ol class="breadcrumbs">
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li class="active">ULI Member</li>
                        </ol>
                    </div>
                    <!-- BreadCrumb -->
                </div>
            </div>
        </div>
    </div>
</div>
 <!--.top wrapper end -->
<div class="loading-container">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<div class="content-wrapper hide-until-loading">
    <div class="body-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="title-block clearfix">
                        <h3 class="h3-body-title">Accordions</h3>
                        <div class="title-seperator"></div>
                    </div>
                    <div class="accordion" data-toggle="off" data-active-index="0">

                        <div class="accordion-row">
                            <div class="title">
                                <div class="open-icon"></div>
                                <h4>In enim justo, rhoncus ut ?</h4>
                            </div>
                            <div class="desc">
                                Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus
                                ut.
                            </div>
                        </div>

                        <div class="accordion-row">
                            <div class="title">
                                <div class="open-icon"></div>
                                <h4>Cum sociis natoque penatibus ?</h4>
                            </div>
                            <div class="desc">
                                Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus
                                ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                                Integer tincidunt. Cras dapibus.
                            </div>
                        </div>

                        <div class="accordion-row">
                            <div class="title">
                                <div class="open-icon"></div>
                                <h4>In hac habitasse platea dictumst. ?</h4>
                            </div>
                            <div class="desc">
                                Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et
                                ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis
                                ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris
                                sit amet nibh.
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="title-block clearfix">
                        <h3 class="h3-body-title">Toggles</h3>
                        <div class="title-seperator"></div>
                    </div>
                    <div class="accordion" data-toggle="on" data-active-index="">

                        <div class="accordion-row">
                            <div class="title">
                                <div class="open-icon"></div>
                                <h4>In enim justo, rhoncus ut ?</h4>
                            </div>
                            <div class="desc">
                                Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus
                                ut.
                            </div>
                        </div>

                        <div class="accordion-row">
                            <div class="title">
                                <div class="open-icon"></div>
                                <h4>Cum sociis natoque penatibus ?</h4>
                            </div>
                            <div class="desc">
                                Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus
                                ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                                Integer tincidunt. Cras dapibus.
                            </div>
                        </div>

                        <div class="accordion-row">
                            <div class="title">
                                <div class="open-icon"></div>
                                <h4>In hac habitasse platea dictumst. ?</h4>
                            </div>
                            <div class="desc">
                                Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et
                                ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis
                                ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris
                                sit amet nibh.
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-content bottom-body">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="message-box clearfix">
                        <button href="#" class="btn btn-lg">Purchase Now</button>
                        <div class="message-content">
                            <h4>
                                <span class="colored">Kanzi Theme </span>Donec pede justo, fringilla vel, aliquet nec,
                                vulputate eget, arcu in enim .
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>