<div class="feature blog-masonry">
    <div class="feature-image img-overlay">
        <img src="media/masonry1.html" alt=""/>

        <div class="item-img-overlay">
            <a class="portfolio-zoom fa fa-plus" href="media/masonry1.html"
               data-rel="prettyPhoto[portfolio]" title="Title goes here"></a>  
        </div>

    </div>

    <div class="feature-content">
        <h3 class="h3-body-title blog-title">
            <a href="#">Aenean tellus metus</a>
        </h3>
        <p>
            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a
        </p>
    </div>

    <div class="feature-details">
        <i class="icon-calendar"></i>
        <span>July 10, 2013</span>
        <span class="details-seperator"></span>

        <a href="#"><i class="icon-comment"></i><span>4</span></a>


        <div class="feature-share">
            <a href="#"><i class="icon-heart"></i></a>
            <a href="#"><i class="icon-facebook"></i></a>
        </div>
    </div>
</div>
<div class="feature blog-masonry">
    <div class="feature-image img-overlay">
        <img src="media/masonry2.html" alt=""/>

        <div class="item-img-overlay">
            <a class="portfolio-zoom fa fa-plus" href="media/masonry2.html"
               data-rel="prettyPhoto[portfolio]" title="Title goes here"></a>  
        </div>

    </div>

    <div class="feature-content">
        <h3 class="h3-body-title blog-title">
            <a href="#">Aenean tellus metus</a>
        </h3>
        <p>
            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a
        </p>
    </div>

    <div class="feature-details">
        <i class="icon-calendar"></i>
        <span>July 10, 2013</span>
        <span class="details-seperator"></span>

        <a href="#"><i class="icon-comment"></i><span>4</span></a>


        <div class="feature-share">
            <a href="#"><i class="icon-heart"></i></a>
            <a href="#"><i class="icon-facebook"></i></a>
        </div>
    </div>
</div>
<div class="feature blog-masonry">

    <div class="feature-content">
        <h3 class="h3-body-title blog-title">
            <a href="#">Aenean tellus metus</a>
        </h3>
        <p>
            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a
        </p>
    </div>

    <div class="feature-details">
        <i class="icon-calendar"></i>
        <span>July 10, 2013</span>
        <span class="details-seperator"></span>

        <a href="#"><i class="icon-comment"></i><span>4</span></a>


        <div class="feature-share">
            <a href="#"><i class="icon-heart"></i></a>
            <a href="#"><i class="icon-facebook"></i></a>
        </div>
    </div>
</div>
<div class="feature blog-masonry">
    <!-- Slider -->
    <div class="feature-image">
        <div class="blog-post-featured-img">
            <div class="blog-slider cycle-slideshow"
                 data-cycle-slides="> .slider-img"
                 data-cycle-swipe="true"
                 data-cycle-prev=".cycle-prev"
                 data-cycle-next=".cycle-next"
                 data-cycle-timeout=0
                 >

                <div class="fa fa-chevron-right cycle-next"></div>
                <div class="fa fa-chevron-left cycle-prev"></div>
                <div class="cycle-pager"></div>

                <!-- slider item -->
                <div class="slider-img">
                    <img src="media/blog2.jpg" alt=""/>
                </div>
                <!-- //slider item// -->
                <!-- slider item -->
                <div class="slider-img">
                    <img src="media/blog3.jpg" alt=""/>
                </div>
                <!-- //slider item// -->
                <!-- slider item -->
                <div class="slider-img">
                    <img src="media/blog4.jpg" alt=""/>
                </div>
                <!-- //slider item// -->
            </div>
        </div>
    </div>
    <!-- Slider -->

    <div class="feature-content">
        <h3 class="h3-body-title blog-title">
            <a href="#">Aenean tellus metus</a>
        </h3>
        <p>
            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a
        </p>
    </div>

    <div class="feature-details">
        <i class="icon-calendar"></i>
        <span>July 10, 2013</span>
        <span class="details-seperator"></span>

        <a href="#"><i class="icon-comment"></i><span>4</span></a>


        <div class="feature-share">
            <a href="#"><i class="icon-heart"></i></a>
            <a href="#"><i class="icon-facebook"></i></a>
        </div>
    </div>
</div>
<div class="feature blog-masonry">
    <div class="feature-image img-overlay">
        <img src="media/masonry3.html" alt=""/>

        <div class="item-img-overlay">
            <a class="portfolio-zoom fa fa-plus" href="media/masonry3.html"
               data-rel="prettyPhoto[portfolio]" title="Title goes here"></a>  
        </div>

    </div>

    <div class="feature-content">
        <h3 class="h3-body-title blog-title">
            <a href="#">Aenean tellus metus</a>
        </h3>
        <p>
            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a
        </p>
    </div>

    <div class="feature-details">
        <i class="icon-calendar"></i>
        <span>July 10, 2013</span>
        <span class="details-seperator"></span>

        <a href="#"><i class="icon-comment"></i><span>4</span></a>


        <div class="feature-share">
            <a href="#"><i class="icon-heart"></i></a>
            <a href="#"><i class="icon-facebook"></i></a>
        </div>
    </div>
</div>
<div class="feature blog-masonry">
    <div class="feature-image img-overlay">
        <div class="blog-post-featured-img blog-post-featured-img-with-vid">
            <!-- Youtube video, dont forget to blog-post-youtube class-->
            <a href="http://www.youtube.com/watch?v=mcw6j-QWGMo" class="blog-post-youtube">My Video</a>
        </div>
    </div>

    <div class="feature-content">
        <h3 class="h3-body-title blog-title">
            <a href="#">Aenean tellus metus</a>
        </h3>
        <p>
            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a
        </p>
    </div>

    <div class="feature-details">
        <i class="icon-calendar"></i>
        <span>July 10, 2013</span>
        <span class="details-seperator"></span>

        <a href="#"><i class="icon-comment"></i><span>4</span></a>


        <div class="feature-share">
            <a href="#"><i class="icon-heart"></i></a>
            <a href="#"><i class="icon-facebook"></i></a>
        </div>
    </div>
</div>
<div class="feature blog-masonry">
    <div class="feature-image img-overlay">
        <div class="blog-post-featured-img blog-post-featured-img-with-vid">
            <!-- Youtube video, dont forget to blog-post-youtube class-->
            <a href="http://vimeo.com/23237102" class="blog-post-vimeo">My Video</a>
        </div>
    </div>

    <div class="feature-content">
        <h3 class="h3-body-title blog-title">
            <a href="#">Aenean tellus metus</a>
        </h3>
        <p>
            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a
        </p>
    </div>

    <div class="feature-details">
        <i class="icon-calendar"></i>
        <span>July 10, 2013</span>
        <span class="details-seperator"></span>

        <a href="#"><i class="icon-comment"></i><span>4</span></a>


        <div class="feature-share">
            <a href="#"><i class="icon-heart"></i></a>
            <a href="#"><i class="icon-facebook"></i></a>
        </div>
    </div>
</div>
<div class="feature blog-masonry">
    <div class="feature-image img-overlay ">
        <div class="blog-post-featured-img media-content">
            <a href="https://soundcloud.com/haloproject/halo-scenes-from-the-four" class="blog-post-soundcloud">My
                Audio
            </a>
        </div>
    </div>

    <div class="feature-content">
        <h3 class="h3-body-title blog-title">
            <a href="#">Aenean tellus metus</a>
        </h3>
        <p>
            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a
        </p>
    </div>

    <div class="feature-details">
        <i class="icon-calendar"></i>
        <span>July 10, 2013</span>
        <span class="details-seperator"></span>

        <a href="#"><i class="icon-comment"></i><span>4</span></a>


        <div class="feature-share">
            <a href="#"><i class="icon-heart"></i></a>
            <a href="#"><i class="icon-facebook"></i></a>
        </div>
    </div>
</div>
<div class="feature blog-masonry">
    <div class="blog_post_quote">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        <div class="quote-author">John Doe</div>
    </div>

</div>
