﻿@model WebULI.Models.ApplicationUpCommingClasses

@{
    ViewBag.Title = "Tạo lịch khai giảng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section styles{
    <!-- Styles required by this views -->
}

@section scripts{
    <!-- Plugins and scripts required by this views -->
    <script src="~/Areas/Admin/Assets/vendors/js/jquery.maskedinput.min.js"></script>
    <!-- Custom scripts required by this view -->
    <script src="~/Areas/Admin/Assets/js/views/advanced-forms.js"></script>
}
<!-- Breadcrumb -->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Admin">Admin</a></li>
    <li class="breadcrumb-item active">@ViewBag.Title </li>
    <!-- Breadcrumb Menu-->
    <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <a class="btn" href="/Admin"><i class="icon-graph"></i> Dashboard</a>
            <a class="btn" target="_blank" href="/"><i class="icon-home"></i> Trang chủ</a>
        </div>
    </li>
</ol>


<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> @ViewBag.Title
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-horizontal">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CourseId, "Khóa học", htmlAttributes: new { @class = "control-label col-md-12" })
                                            <div class="col-md-12">
                                                @Html.DropDownList("CourseId", null, htmlAttributes: new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.CourseId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.TecherName, htmlAttributes: new { @class = "control-label col-md-12" })
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.TecherName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nguyễn Văn A" } })
                                                @Html.ValidationMessageFor(model => model.TecherName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.UpCommingDate, htmlAttributes: new { @class = "control-label col-md-12" })
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.UpCommingDate, new { htmlAttributes = new { @class = "form-control", @id = "date", @placeholder = "99/99/9999" } })
                                                @Html.ValidationMessageFor(model => model.UpCommingDate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ShowOnHome, htmlAttributes: new { @class = "control-label col-md-12" })
                                            <div class="col-md-12">
                                                <div class="checkbox">
                                                    @Html.EditorFor(model => model.ShowOnHome)
                                                    @Html.ValidationMessageFor(model => model.ShowOnHome, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="submit" value="Tạo mới" class="btn btn-primary" />
                                        @Html.ActionLink("Trở về danh sách", "Index")
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->
    </div>
</div>
