﻿@model WebULI.Models.ApplicationUpCommingClasses

@{
    ViewBag.Title = "Xem '" + Model.Course.Name + "'";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb -->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Admin">Admin</a></li>
    <li class="breadcrumb-item active">@ViewBag.Title </li>
    <!-- Breadcrumb Menu-->
    <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <a class="btn" href="/Admin"><i class="icon-graph"></i> Dashboard</a>
            <a class="btn" target="_blank" href="/"><i class="icon-home"></i> Trang chủ</a>
        </div>
    </li>
</ol>




<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Danh sách khóa học

                        <span class="pull-right">
                            @Html.ActionLink("Tạo mới", "Create")
                        </span>
                    </div>
                    <div class="card-body">

                        <div>
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Course.Name)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Course.Name)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.TecherName)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.TecherName)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.UpCommingDate)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.UpCommingDate)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.ShowOnHome)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.ShowOnHome)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.UpdateTime)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.UpdateTime)
                                </dd>

                                <dt>
                                    @Html.DisplayName("Người cập nhật")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.User.Email)
                                </dd>

                            </dl>
                        </div>
                        <p>
                            @Html.ActionLink("Cập nhật", "Edit", new { id = Model.Id }) |
                            @Html.ActionLink("Trở lại danh sách", "Index")
                        </p>

                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->
    </div>
</div>
