﻿@model IEnumerable<WebULI.Models.ApplicationUpCommingClasses>

@{
    ViewBag.Title = "Lịch khai giảng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb -->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Admin">Admin</a></li>
    <li class="breadcrumb-item active">@ViewBag.Title </li>
    <!-- Breadcrumb Menu-->
    <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <a class="btn" href="/Admin"><i class="icon-graph"></i> Dashboard</a>
            <a class="btn" target="_blank" href="/"><i class="icon-home"></i> Trang chủ</a>
        </div>
    </li>
</ol>



<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Danh sách khóa học

                        <span class="pull-right">
                            @Html.ActionLink("Tạo mới", "Create")
                        </span>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-hover table-sm">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Course.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TecherName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UpCommingDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ShowOnHome)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UpdateTime)
                                    </th>
                                    <th>
                                        @Html.DisplayName("Người cập nhật")
                                    </th>
                                    <th>Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Course.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TecherName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UpCommingDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ShowOnHome)
                                        </td>
                                        <td>
                                           @item.UpdateTime.ToShortDateString()
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.User.Email)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Cập nhật", "Edit", new { id = item.Id }) |
                                            @Html.ActionLink("Xem", "Details", new { id = item.Id }) |
                                            @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @*<nav>
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>*@
                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->
    </div>
</div>

