﻿
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="top-title-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="page-info">
                    <h1 class="h1-page-title">Kanzi Theme Blog post Number one</h1>
                    <h2 class="h2-page-desc">
                        Single Post Page
                    </h2>
                    <!-- BreadCrumb -->
                    <div class="breadcrumb-container">
                        <ol class="breadcrumbs">
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li class="active">Blog</li>
                        </ol>
                    </div>
                    <!-- BreadCrumb -->
                </div>
            </div>
        </div>
    </div>
</div>
 <!--.top wrapper end -->
<div class="loading-container">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<div class="content-wrapper hide-until-loading">
    <div class="body-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-9">

                    <!-- Blog Post -->
                    <div class="blog-post">
                        <div class="blog-post-type">
                            <i class="icon-pen"> </i>
                        </div>
                        <div class="blog-span">
                            <div class="blog-post-featured-img img-overlay">
                                <img src="~/Assets/media/blog1.jpg" alt="" class="img-responsive" />
                                <div class="item-img-overlay">
                                    <a class="portfolio-zoom fa fa-plus" href="~/Assets/media/blog1.jpg" data-rel="prettyPhoto[portfolio]" title="Title goes here"></a>
                                    <div class="item_img_overlay_content">
                                        <div class="blog-post-details-item blog-post-details-item-left share-article">
                                            <span>Share It On</span>
                                            <a href="#" class="icon-facebook"></a>
                                            <a href="#" class="icon-twitter-alt"></a>
                                            <a href="#" class="icon-google"></a>
                                            <a href="#" class="icon-email-mail-streamline"></a>
                                        </div>
                                        <div class="blog-post-details-item blog-post-details-item-right share-article">
                                            <a href="#" class="icon-heart">25</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h2>
                                Kanzi Theme Blog post Number one
                            </h2>
                            <div class="blog-post-body">
                                <p>
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                    invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
                                    eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
                                    sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                                    consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                                    et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet,
                                    consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                                    et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
                                    duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
                                    elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                                    erat, sed diam voluptua.
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                    invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
                                    eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
                                    sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                                    consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                                    et dolore magna aliquyam erat, sed diam voluptua.
                                </p>
                                <blockquote>
                                    <p>
                                        Lorem ipsum dolor sit amet, in pri offendit ocurreret. Vix sumo ferri an. pfs
                                        adodio fugit delenit ut qui. Omittam suscipiantur ex vel,ex audiam intellegat
                                        gfIn labitur discere eos, nam an feugiat voluptua.
                                    </p>
                                    <div class="block-qoute-by">
                                        - John Doe , Author
                                    </div>
                                </blockquote>
                                <p>
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                    invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
                                    eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
                                    sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                                    consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                                    et dolore magna aliquyam erat, sed diam voluptua.
                                </p>
                            </div>
                            <div class="blog-post-details">
                                <!-- Date -->
                                <div class="blog-post-details-item blog-post-details-item-left icon-calendar">
                                    22 January, 2014
                                </div>
                                <div class="blog-post-details-item blog-post-details-item-left icon-user">
                                    <a href="#">
                                        Admin
                                    </a>
                                </div>
                                <!-- //Author Name// -->
                                <!-- Tags -->
                                <div class="blog-post-details-item blog-post-details-item-left blog-post-details-tags icon-files">
                                    <a href="#">
                                        Business
                                    </a> ,
                                    <a href="#">
                                        Investment
                                    </a> ,
                                    <a href="#">
                                        Freelancing
                                    </a>
                                </div>
                                <!-- //Tags// -->
                                <!-- Comments -->
                                <div class="blog-post-details-item blog-post-details-item-left blog-post-details-item-last icon-comment">
                                    <a href="#">
                                        3 Comments
                                    </a>
                                </div>
                                <!-- //Comments// -->
                            </div>
                        </div>
                    </div>
                    <!-- //Blog Post// -->
                </div>

                <div class="col-md-3 col-sm-3 ">
                    @{ Html.RenderAction("_Sidebar", "PartialView", null);}
                </div>
            </div>
        </div>
    </div>
</div><!--.content-wrapper end -->