﻿
@{
    ViewBag.Title = "Tin tức và Tuyển dụng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="top-title-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="page-info">
                    <p class="h1-page-title">Tin tức và Tuyển dụng</p>
                    <p class="h2-page-desc">
                        Thông tin về các khóa học và việc làm
                    </p>
                    <!-- BreadCrumb -->
                    <div class="breadcrumb-container">
                        <ol class="breadcrumbs">
                            <li>
                                <a href="/">Trang chủ</a>
                            </li>
                            <li class="active">Tin tức và Tuyển dụng</li>
                        </ol>
                    </div>
                    <!-- BreadCrumb -->
                </div>
            </div>
        </div>
    </div>
</div>
 <!--.top wrapper end -->
<div class="loading-container">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<div class="content-wrapper hide-until-loading">
  
  
      <div class="body-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-9">
                    @for (int i = 0; i < 4; i++)
                    {
                        <!-- Blog Post -->
                        <div class="blog-post">
                            <div class="blog-post-type">
                                <i class="icon-pen"> </i>
                            </div>
                            <div class="blog-span">
                                <div class="blog-post-featured-img img-overlay">
                                    <img src="~/Assets/media/blog1.jpg" alt="" />
                                    <div class="item-img-overlay">
                                        <a class="portfolio-zoom fa fa-plus" href="~/Assets/media/blog1.jpg" data-rel="prettyPhoto[portfolio]" title="Title goes here"></a>
                                        <div class="item_img_overlay_content">
                                            <div class="blog-post-details-item blog-post-details-item-left share-article">
                                                <span>Share It On</span>
                                                <a href="#" class="icon-facebook"></a>
                                                <a href="#" class="icon-twitter-alt"></a>
                                                <a href="#" class="icon-google"></a>
                                                <a href="#" class="icon-email-mail-streamline"></a>
                                            </div>
                                            <div class="blog-post-details-item blog-post-details-item-right share-article">
                                                <a href="#" class="icon-heart">25</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h2>
                                    <a href="/News/Details">
                                        Standard Post Type Example
                                    </a>
                                </h2>
                                <div class="blog-post-body">
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                                    aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                                    ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
                                    sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                                </div>
                                <div class="blog-post-details">
                                    <!-- Date -->
                                    <div class="blog-post-details-item blog-post-details-item-left icon-calendar">
                                        22 January, 2014
                                    </div>
                                    <div class="blog-post-details-item blog-post-details-item-left icon-user">
                                        <a href="#">
                                            Admin
                                        </a>
                                    </div>
                                    <!-- //Author Name// -->
                                    <!-- Tags -->
                                    <div class="blog-post-details-item blog-post-details-item-left blog-post-details-tags icon-files">
                                        <a href="#">
                                            Business
                                        </a> ,
                                        <a href="#">
                                            Investment
                                        </a> ,
                                        <a href="#">
                                            Freelancing
                                        </a>
                                    </div>
                                    <!-- //Tags// -->
                                    <!-- Comments -->
                                    <div class="blog-post-details-item blog-post-details-item-left blog-post-details-item-last icon-comment">
                                        <a href="#">
                                            3 Comments
                                        </a>
                                    </div>
                                    <!-- //Comments// -->
                                    <!-- Read More -->
                                    <div class="blog-post-details-item blog-post-details-item-right">
                                        <a href="#">
                                            read more <i class="fa fa-chevron-right"></i>
                                        </a>
                                    </div>
                                    <!-- //Read More// -->
                                </div>
                            </div>
                        </div>
                    <!-- Blog Post -->
                    }
                    <!-- Pagination -->
                    <div class="pagination-container">
                        <ul class="pagination">
                            <li><a href="#" class="prev">&laquo; </a></li>
                            <li><a href="#"> 1 </a></li>
                            <li><a href="#" class="current"> 2 </a></li>
                            <li><a href="#"> 3 </a></li>
                            <li><a href="#"> 4 </a></li>
                            <li><a href="#"> 5 </a></li>
                            <li><a href="#"> 6 </a></li>
                            <li><a href="#"> 7 </a></li>
                            <li><a href="#"> 8 </a></li>
                            <li><a href="#"> 9 </a></li>
                            <li><a href="#"> 10 </a></li>
                            <li><a href="#" class="next">&raquo;</a></li>
                        </ul>
                    </div>
                    <!-- Pagination Ends -->

                </div>

                <div class="col-md-3 col-sm-3">
                    @{ Html.RenderAction("_Sidebar", "PartialView", null);}
                </div>

            </div>
        </div>
    </div>
</div>